* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

/* Ajusta o body */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, sans-serif;
    background-color: #fff;
    color: #000;
}

/* HTML5 elements */
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}